.DS_Store
.env
.pnpm-debug.log
node_modules/
coverage/
dist/
*.tsbuildinfo

# UI
ui/.enum_manifest.json
ui/source_strings.json
ui/src/translations
ui/vite.config.ts.timestamp-*

# Server
server/src/gen

# Config
arfak.toml

# Plans
plans/
